.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
  }

  .add-button {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 30%;
  }
}
