.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;
  width: 60%;

  h1 {
    margin-bottom: 20px;
  }

  .add-button {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 5%;
  }
}
