.new-test {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;
  width: 60%;

  h1 {
    text-align: center;
  }

  p a {
    margin-left: 5px;
  }

  .form-area {
    display: flex;
    flex-direction: column;

    label {
      width: 40px;
    }
  }

  .add-exercise {
    margin: 15px 0;
  }

  .build-test {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .add-button {
    align-self: flex-end;
  }
}
