.exercise {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

  .remove-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .done-button {
    justify-content: end;
  }
}
