@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

html, body, #root {
  font-size: 1em;
  height: 100%;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, h2 {
    margin-bottom: 20px;
  }
}
